**/__pycache__
**/*.pyc
**/*$py.class

# pypi build files
build/
dist/
*.egg-info/

# Sphinx docs
docs/build # if source/build are separate
docs/_build # if not

# pytest residual
.cache/
.coverage

# tox artifacts
.tox/

# vim stuff
**/.*.swo
**/.*.swp

# python virtual environment
venv/
